@import url("theme.css");

* {
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: @bar-bg;
}

#workspaces {
  margin: 4px 0;
  padding: 0 6px;
}

#workspaces button {
  background: @workspace-bg;
  border-radius: 999px;
  color: @workspace-fg;
  margin: 0 3px;
  padding: 0 4px;
}

#workspaces button.empty {
  background: @workspace-empty;
  color: transparent;
  min-width: 8px;
  padding: 0 4px;
}

#workspaces button.active {
  background: @workspace-active-bg;
  color: @workspace-active-fg;
}

#workspaces button:hover {
  background: @workspace-hover-bg;
  color: @workspace-active-fg;
}

#workspaces button.urgent {
  background: @workspace-urgent-bg;
  color: @workspace-active-fg;
}

#workspaces .taskbar-window {
  border-radius: 999px;
  margin: 0 1px;
  padding: 1px 3px;
}

#workspaces .taskbar-window:hover {
  background: @workspace-hover-bg;
}

#workspaces .taskbar-window.active {
  background: @crust;
}

#clock {
  color: @text;
  padding: 0 10px;
}
