layout {

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left "{mode}#[fg=#89dceb,bg=#181825,bold] {session}#[bg=#181825] {tabs}{swap_layout}"
                format_right "{notifications}#[bg=#181825] "
                format_space "#[bg=#181825]"
                mode_normal "#[bg=#181825,fg=#89b4fa,bold]NORMAL"
                mode_locked "#[bg=#181825,fg=#f38ba8,bold]LOCKED"
                mode_resize "#[bg=#181825,fg=#f9e2af,bold]RESIZE"
                mode_pane "#[bg=#181825,fg=#a6e3a1,bold]PANE"
                mode_tab "#[bg=#181825,fg=#89dceb,bold]TAB"
                mode_scroll "#[bg=#181825,fg=#fab387,bold]SCROLL"
                mode_enter_search "#[bg=#181825,fg=#cba6f7,bold]SEARCH"
                mode_search "#[bg=#181825,fg=#cba6f7,bold]SEARCH"
                mode_rename_tab "#[bg=#181825,fg=#f5c2e7,bold]RENAME TAB"
                mode_rename_pane "#[bg=#181825,fg=#f5c2e7,bold]RENAME PANE"
                mode_session "#[bg=#181825,fg=#89b4fa,bold]SESSION"
                mode_move "#[bg=#181825,fg=#cdd6f4,bold]MOVE"
                tab_normal "#[fg=#6c7086,bg=#181825]{index} Tab {fullscreen_indicator}{sync_indicator}{floating_indicator}"
                tab_active "#[fg=#cdd6f4,bg=#181825,bold]{index} Tab {fullscreen_indicator}{sync_indicator}{floating_indicator}"
                tab_fullscreen_indicator "󰊓 "
                tab_sync_indicator "󰓦 "
                tab_floating_indicator "󰉈 "
                swap_layout_format "#[fg=#9399b2,bg=#181825] {name} "
                swap_layout_hide_if_empty "true"
                notification_format_unread "#[bg=#181825,fg=#f9e2af,bold] 󰂚 {message} "
                notification_format_no_notifications "#[bg=#181825]"
                notification_show_interval "10"
            }
        }
        children
    }

    swap_tiled_layout name="splits" {
        tab max_panes=1 {
            pane
        }
        tab {
            pane split_direction="vertical" {
                pane size="60%"
                pane {
                    children
                }
            }
        }
    }
    swap_tiled_layout name="master-top" {
        tab max_panes=1 {
            pane
        }
        tab {
            pane split_direction="horizontal" {
                pane size="60%"
                pane split_direction="vertical" {
                    children
                }
            }
        }
    }

}
