prefer-no-csd

xwayland-satellite {
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/misc/screenshots/screenshot-%Y-%m-%d-%H-%M-%S.png"

animations {
    slowdown 0.5
}

recent-windows {
    open-delay-ms 250
    binds {
    Mod+Tab {
            next-window scope="workspace"
    }
    Mod+Shift+Tab {
            previous-window scope="workspace"
    }
    }

    highlight {
        padding 32
        corner-radius 8
        active-color "#89b4fa"
        urgent-color "#f38ba8"
    }
}

spawn-sh-at-startup "app2unit -t service niriusd"
spawn-sh-at-startup "app2unit wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "app2unit wl-paste --type image --watch cliphist store"
spawn-sh-at-startup "app2unit -t service wallpaper"
