output "DP-1" {
    focus-at-startup
    mode "2560x1440@59.951"
    position x=0 y=0
}

output "HDMI-A-1" {
    mode "1920x1080@60.000"
    hot-corners {
        off
    }
    layout {
        struts {
            left 600
        }
    }
}
