window-rule {
    match app-id="claude"
    match app-id="Codex"
    open-on-workspace "scratch"
    open-focused false
    open-floating true
    default-column-width {
        fixed 1000
    }
    default-window-height {
        fixed 1200
    }
}
window-rule {
    exclude app-id="firefox-nightly"
    match is-active=false
    opacity 0.9
}
// window-rule {
//     match app-id="firefox-nightly"
//     open-fullscreen true
// }
window-rule {
    exclude app-id="firefox-nightly"
    background-effect {
        blur true
    }
}
window-rule {
    match app-id="^com.saivert.pwvucontrol$"
    match app-id="^org\\.gnome\\.NautilusPreviewer$"
    match app-id="^org\\.gnome\\.Nautilus"
    open-floating true
    min-width 900
    min-height 700
}
window-rule {
    match app-id="foot.yazi"
    open-floating true
    default-column-width {
        fixed 1600
    }
    default-window-height {
        fixed 800
    }
    default-floating-position x=500 y=300
}
window-rule {
    match app-id="neovide"
}
window-rule {
    match app-id="(?i)^firefox-nightly$" title="^Picture-in-Picture$"
    match title=".*Extension.*Bitwarden.*"
    match app-id="xdg-desktop-portal-gtk"
    open-floating true
}
window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}
window-rule {
    match is-floating=true
    background-effect {
        xray false
    }
}
window-rule {
    match is-window-cast-target=true
    border {
        active-gradient from="#ff6e5e" to="#ffbd5e" angle=45
        inactive-gradient from="#ffbd5e90" to="#ff5ea090" angle=135
    }
}
layer-rule {
    match namespace="^launcher$"
    shadow {
        on
    }
    background-effect {
        blur true
    }
}
layer-rule {
    match layer="top"
    match layer="overlay"
    background-effect {
        xray false
    }
}
layer-rule {
    match namespace="^notifications$"
    match namespace="^dms:notification-popup$"
    block-out-from "screencast"
}

