{{- if eq .chezmoi.hostname "desktop" -}}
{{-   includeTemplate ".chezmoitemplates/niri/devices.kdl.desktop" . -}}
{{- else if eq .chezmoi.hostname "laptop" -}}
{{-   includeTemplate ".chezmoitemplates/niri/devices.kdl.laptop" . -}}
{{- end -}}
