.workspace-box,
.workspace-box * {
  all: unset;
  font-family: JetBrainsMono Nerd Font, monospace;
}

.workspace-box {
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 4px;
}