binds {
    Mod+Q hotkey-overlay-title="OpenTerminal" {
        spawn "nirius" "focus-or-spawn" "-a" "kitty" "app2unit-term"
    }
    Mod+Ctrl+Q hotkey-overlay-title="OpenTerminal" {
        spawn "xdg-terminal-exec"
    }
    Mod+BackSpace {
        spawn "nirius" "focus" "--focused-workspace" "-a" "firefox-nightly"
    }
    Mod+Shift+BackSpace {
        spawn "app2unit" "firefox-nightly"
    }
    Mod+Shift+B hotkey-overlay-title="OpenBook" {
        spawn "open-book"
    }
    Mod+B hotkey-overlay-title="OpenBookmark" {
        spawn "open-bookmark"
    }
    Mod+Shift+Semicolon {
        spawn "fuzzel"
    }
    Mod+V repeat=false {
        spawn-sh "cliphist list | fuzzel --dmenu --font='monospace:size=9' --width=120 | cliphist decode | wl-copy"
    }
    Mod+E {
        spawn "nirius" "focus-or-spawn" "-a" "neovide" "nv"
    }
    Mod+A {
        spawn "niri-static-scratchpad" "org.mozilla.firefox.webapp-f1a423e1-22ba-401c-840f-7036c59c0ecb" "/home/wasd/.local/share/applications/org.mozilla.firefox.webapp-f1a423e1-22ba-401c-840f-7036c59c0ecb.desktop"
    }
    Mod+Shift+A {
        spawn "niri-static-scratchpad" "org.mozilla.firefox.webapp-8053b1f8-d16e-4299-8076-4be37f0fe8ab" "/home/wasd/.local/share/applications/org.mozilla.firefox.webapp-8053b1f8-d16e-4299-8076-4be37f0fe8ab.desktop"
    }
    Mod+Period {
        spawn "nirius" "scratchpad-show"
    }
    Mod+Shift+Period hotkey-overlay-title="scratchpad-toggle" {
        spawn "nirius" "scratchpad-toggle"
    }
    Mod+Ctrl+Period hotkey-overlay-title="scratchpad-toggle" {
        spawn "nirius" "scratchpad-show-all"
    }
    Mod+O repeat=false {
        toggle-overview
    }
    Mod+T {
        toggle-column-tabbed-display
    }
    Mod+F {
        toggle-window-floating
    }
    Mod+Shift+F {
        switch-focus-between-floating-and-tiling
    }
    Mod+Comma {
        consume-window-into-column
    }
    Mod+Ctrl+BracketLeft {
        consume-or-expel-window-left
    }
    Mod+Ctrl+BracketRight {
        consume-or-expel-window-right
    }
    Mod+R {
        reset-window-height
    }
    Mod+Shift+R {
        switch-preset-window-height
    }
    Mod+Shift+Q {
        close-window
    }
    Mod+Return {
        maximize-column
    }
    Mod+Shift+Return {
        fullscreen-window
    }
    Mod+W {
        switch-preset-column-width
    }
    Mod+Space {
        center-window
    }
    Mod+Ctrl+Space {
        spawn-sh "niri msg action focus-column-left; niri msg action focus-column-right"
    }
    Mod+Shift+W {
        switch-preset-column-width-back
    }
    Mod+Ctrl+w {
        expand-column-to-available-width
    }
    Mod+Shift+Space {
        center-visible-columns
    }
    Mod+Minus {
        set-column-width "-10%"
    }
    Mod+Equal {
        set-column-width "+10%"
    }
    Mod+0 {
        set-column-width "50%"
    }
    Mod+Shift+Minus {
        set-window-height "-10%"
    }
    Mod+Shift+Equal {
        set-window-height "+10%"
    }
    Mod+C {
        center-column
    }
    Mod+Backslash {
        center-column
    }
    Mod+Shift+C hotkey-overlay-title="ToggleCenterFocusedColumn" {
        spawn "niri-toggle-center-focused-column"
    }
    Mod+Z {
        center-visible-columns
    }
    Mod+Ctrl+C {
        center-visible-columns
    }
    Mod+Shift+Backslash {
        spawn-sh "niri msg action focus-column-left; niri msg action focus-column-right"
    }
    Mod+H {
        focus-column-left-or-last
    }
    Mod+Left {
        focus-column-left-or-last
    }
    Mod+L {
        focus-column-right-or-first
    }
    Mod+Right {
        focus-column-right-or-first
    }
    Mod+BracketLeft {
        focus-column-left-or-last
    }
    Mod+BracketRight {
        focus-column-right-or-first
    }
    Mod+Home {
        focus-column-first
    }
    Mod+End {
        focus-column-last
    }
    Mod+J {
        focus-window-down-or-top
    }
    Mod+Down {
        focus-window-down-or-top
    }
    Mod+K {
        focus-window-up-or-bottom
    }
    Mod+Up {
        focus-window-up-or-bottom
    }
    Mod+Shift+H {
        focus-monitor-previous
    }
    Mod+Shift+Left {
        focus-monitor-previous
    }
    Mod+Shift+L {
        focus-monitor-next
    }
    Mod+Shift+Right {
        focus-monitor-next
    }
    Mod+U {
        focus-workspace-down
    }
    Mod+Page_Down {
        focus-workspace-down
    }
    Mod+I {
        focus-workspace-up
    }
    Mod+Page_Up {
        focus-workspace-up
    }
    Mod+Ctrl+H {
        move-column-left
    }
    Mod+Ctrl+Left {
        move-column-left
    }
    Mod+Ctrl+L {
        move-column-right
    }
    Mod+Ctrl+Right {
        move-column-right
    }
    Mod+Ctrl+Home {
        move-column-to-first
    }
    Mod+Ctrl+End {
        move-column-to-last
    }
    Mod+Shift+BracketLeft {
        move-column-left
    }
    Mod+Shift+BracketRight {
        move-column-right
    }
    Mod+Ctrl+J {
        move-window-down
    }
    Mod+Ctrl+Down {
        move-window-down
    }
    Mod+Ctrl+K {
        move-window-up
    }
    Mod+Ctrl+Up {
        move-window-up
    }
    Mod+M {
        focus-monitor-next
    }
    Mod+Shift+M hotkey-overlay-title="send to next monitor" {
        move-window-to-monitor-next
    }
    Mod+Shift+Ctrl+H {
        move-column-to-monitor-left
    }
    Mod+Shift+Ctrl+Left {
        move-column-to-monitor-left
    }
    Mod+Shift+Ctrl+L {
        move-column-to-monitor-right
    }
    Mod+Shift+Ctrl+Right {
        move-column-to-monitor-right
    }
    Mod+Ctrl+U {
        move-column-to-workspace-down
    }
    Mod+Ctrl+Page_Down {
        move-column-to-workspace-down
    }
    Mod+Ctrl+I {
        move-column-to-workspace-up
    }
    Mod+Ctrl+Page_Up {
        move-column-to-workspace-up
    }
    Mod+Shift+U {
        move-workspace-down
    }
    Mod+Shift+Page_Down {
        move-workspace-down
    }
    Mod+Shift+I {
        move-workspace-up
    }
    Mod+Shift+Page_Up {
        move-workspace-up
    }
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+Shift+1 {
        move-column-to-workspace "main"
    }
    Mod+Shift+2 {
        move-column-to-workspace "2"
    }
    Mod+Shift+3 {
        move-column-to-workspace 3
    }
    Mod+Shift+4 {
        move-column-to-workspace 4
    }
    Mod+Shift+5 {
        move-column-to-workspace 5
    }
    Mod+Shift+6 {
        move-column-to-workspace 6
    }
    Mod+Shift+7 {
        move-column-to-workspace 7
    }
    Mod+Shift+8 {
        move-column-to-workspace 8
    }
    Mod+Shift+9 {
        move-column-to-workspace 9
    }
    Mod+MouseBack {
        maximize-column
    }
    Mod+WheelScrollDown cooldown-ms=150 {
        focus-workspace-down
    }
    Mod+WheelScrollUp cooldown-ms=150 {
        focus-workspace-up
    }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 {
        move-column-to-workspace-down
    }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 {
        move-column-to-workspace-up
    }
    Mod+WheelScrollRight {
        focus-column-right
    }
    Mod+WheelScrollLeft {
        focus-column-left
    }
    Mod+Ctrl+WheelScrollRight {
        move-column-right
    }
    Mod+Ctrl+WheelScrollLeft {
        move-column-left
    }
    Mod+Shift+WheelScrollDown {
        focus-column-right
    }
    Mod+Shift+WheelScrollUp {
        focus-column-left
    }
    Mod+Ctrl+Shift+WheelScrollDown {
        move-column-right
    }
    Mod+Ctrl+Shift+WheelScrollUp {
        move-column-left
    }
    Print {
        screenshot
    }
    Ctrl+Print {
        screenshot-screen
    }
    Alt+Print {
        screenshot-window
    }
    Mod+Shift+Escape hotkey-overlay-title="ShowHotkeyOverlay" {
        show-hotkey-overlay
    }
    Mod+Escape allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit
    }
    Mod+Alt+Delete {
        spawn "systemctl" "--user" "stop" "niri.service"
    }
    Mod+F7 {
        spawn "niri" "msg" "output" "ASUSTek COMPUTER INC PA278QV SCLMQS108511" "scale" "1"
    }
    Mod+F8 {
        spawn "niri" "msg" "output" "ASUSTek COMPUTER INC PA278QV SCLMQS108511" "scale" "1.25"
    }
}
