prefer-no-csd

xwayland-satellite {
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
    hide-when-typing
    hide-after-inactive-ms 1000
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/misc/screenshots/screenshot-%Y-%m-%d-%H-%M-%S.png"

animations {
    slowdown 0.5

    window-open {
        duration-ms 60
    }

    window-close {
        duration-ms 60
    }
}

recent-windows {
    open-delay-ms 1000
    binds {
    Mod+Tab {
            next-window scope="workspace"
    }
    Mod+Shift+Tab {
            previous-window scope="workspace"
    }
    }

    highlight {
        padding 32
        corner-radius 8
        active-color "#2fafff"
        urgent-color "#ff5f59"
    }
}

spawn-sh-at-startup "app2unit -t service niriusd"
